/* Variables */
:root {
  --max-width: 1200px;

  /* Buttons */
  --btn-border: 1px solid #000000;
  --btn-border-radius: 16px;
}

/* Universal styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  margin-top: 40px;
}
ul {
  padding: 0;
}

/* Common elements */
.container {
  margin: 0 auto;
  width: min(var(--max-width), calc(100% - 40px));
}

.btn {
  background: #ffffff;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  padding: 10px;
  font-size: 16px;
}
.btn.primary {
  background: #bbbbbb;
}

/* Header */
.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: var(--btn-border);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
  font-size: 20px;
}
.fullname {
  font-weight: bold;
}

/* Hero */
.hero-content {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: start;
  gap: 16px;
}
.profile .options {
  list-style: none;
  display: flex;
  gap: 12px;
}
.hero-content ul {
  padding-top: 12px;
}
/* Metrics */
.metrics {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.metric {
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 20px;
}
.metric-header {
  font-weight: bold;
  font-size: 20px;
}
.metric-details {
  color: gray;
  font-size: 14px;
}
