/* Variables */
:root {
  --max-width: 1200px;

  /* Buttons */
  --btn-border: 1px solid #000000;
  --btn-border-radius: 16px;
}

/* Universal styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Common elements */
.container {
  margin: 0 auto;
  width: min(var(--max-width), calc(100% - 40px));
}

.btn {
  background: #ffffff;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  padding: 10px;
  font-size: 16px;
}

/* Header */
.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: var(--btn-border);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
  font-size: 20px;
}
.fullname {
  font-weight: bold;
}
